* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: #fff4;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#header, .logo {
    color: #094b65;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
} 

a {
    text-decoration: none;
    cursor: pointer;
}

#header ul li a{
    padding: 6px 15px;
    color: #094b65;
    border-radius: 20px;
    font-size: 25px;
}

#header ul li a:hover{
    background-color: #094b65;
    color: #fff;
    cursor: pointer;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section #text {
    position: absolute;
    color: #094b65;
    font-size: 10vw;
    line-height: 0.8;
    text-align: center;
    transform: translatey(-50%);
}

section #text span{
    font-size: 40px;
    letter-spacing: 2px;
}

#button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: #094b65;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translatey(100px);
    font-weight: bold;
}

#button:hover {
    opacity: 0.8;
}

section::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65, transparent);
    bottom: 0;
    z-index: 1;
}

.about {
    background: #094b65;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 50px;
}

h2 {
    font-size: 40px;
    margin-bottom: 1rem;
}

p {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 1.5rem;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

h2 p {
    font-size: inherit;
}

@media (min-width: 1951px) {
    section {
        min-height: 125vh;
    }
}

@media (max-width: 1023px) {
   header {
    padding: 30px 25px;
   }
}

@media (max-width: 899px) {
    #header ul li a {
        padding: 3px 6px;
    }
}

@media (max-width: 768px) {
    #header ul {
        display: none;
    }

    h2 p {
        font-size: 60px;
        font-weight: bold;
    }

    .headerContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0rem 1rem 0.5rem;
        align-items: center;
    }

    #toggleButton {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        height: 21px;
    }

    #toggleButton span {
        height: 3px;
        width: 100%;
        background-color: #094b65;
        border-radius: 10px;
    }

    #header {
        flex-direction: column;
        padding: 1rem 0rem 1rem;
    }

    #header ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    #header .active {
        display: flex;
    }

    #header ul li {
        width: 100%;
        background-color: #094b65;
    }

    #header ul li a{
        color: #fff;
        font-weight: 100;
    }

    #header ul li:hover{
        background-color: #222;
        
    }

    #header ul li a:hover{
        background-color: initial;
        cursor: pointer;
    }

    .one, .two, .three {
        transition: 0.5s;
    }

    .buttonActive .one{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .buttonActive .two{
        opacity: 0;
    }

    .buttonActive .three{
        transform: rotate(-45deg)  translate(6px, -6px);
    }
}

@media (max-width: 425px) {
    #bird1, #bird2 {
        height: initial;
        top: 1rem;
        width: 60rem;
    }
}